langs/*/ast.rkt linguist-generated=true
langs/*/build-runtime.rkt linguist-generated=true
langs/*/compile-ops.rkt linguist-generated=true
langs/*/compile-stdin.rkt linguist-generated=true
langs/*/compile.rkt linguist-generated=true
langs/*/fv.rkt linguist-generated=true
langs/*/interp-defun.rkt linguist-generated=true
langs/*/interp-io.rkt linguist-generated=true
langs/*/interp-prim.rkt linguist-generated=true
langs/*/interp-stdin.rkt linguist-generated=true
langs/*/interp.rkt linguist-generated=true
langs/*/lambdas.rkt linguist-generated=true
langs/*/main.rkt linguist-generated=true
langs/*/parse.rkt linguist-generated=true
langs/*/read-all.rkt linguist-generated=true
langs/*/run-stdin.rkt linguist-generated=true
langs/*/run.rkt linguist-generated=true
langs/*/types.rkt linguist-generated=true
langs/*/test/compile.rkt linguist-generated=true
langs/*/test/interp.rkt linguist-generated=true
langs/*/test/test-runner.rkt linguist-generated=true

langs/a86/main.rkt linguist-generated=false
langs/a86/ast.rkt linguist-generated=false
