on:
  - push

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04]
        racket-variant: ['BC', 'CS']
        racket-version: ['7.8', '8.0', '8.6', '8.8']
    name: Test on Racket ${{ matrix.racket-variant }} ${{ matrix.racket-version }} on ${{ matrix.os }}	
    steps:
    - name: Checkout
      uses: actions/checkout@main
    - name: Install nasm
      run: sudo apt-get install nasm
    - name: Install libunistring
      run: |
        sudo apt-get install libunistring2
        sudo apt-get install libunistring-dev
    - name: Install Racket
      uses: Bogdanp/setup-racket@v1.10
      with:
        architecture: 'x64'
        distribution: 'full'
        variant: ${{ matrix.racket-variant }}
        version: ${{ matrix.racket-version }}
    - name: Version info
      run: |
        nasm --version
        gcc --version
    - name: Install langs package
      run: |
        raco pkg install --auto ziggy/
        raco pkg install langs/
    - name: Run tests
      run: |
        raco test -p ziggy
        raco test -p langs
        raco test -c outlaw
