on:
  - workflow_dispatch

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@main
    - name: Install dependencies
      run: |
        curl -Ls https://github.com/jgm/pandoc/releases/download/2.11.2/pandoc-2.11.2-1-amd64.deb -o pandoc.deb
        sudo dpkg -i pandoc.deb
        sudo apt-get install nasm
        sudo apt-get install fonts-stix
        sudo apt-get install libunistring-dev
    - name: Install Racket
      uses: Bogdanp/setup-racket@v1.11
      with:
        architecture: 'x64'
        distribution: 'full'
        variant: 'CS'
        version: '8.6'
    - name: Build and test
      run: |
        export LINK_DIR=/usr/lib/x86_64-linux-gnu
        raco pkg install langs/
        raco make www/main.scrbl
        raco test langs
        make -C www main
    - name: Archive www
      uses: actions/upload-artifact@v2
      with:
        name: www
        path: www/main
  deploy:
    needs: build-and-test
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest    
    if: github.ref == 'refs/heads/main'
    steps:
    - name: Deploy to GitHub pages
      id: deployment
      uses: actions/deploy-pages@v4
